* {
  font-family: 'Pangolin', cursive;
  color: #f5f5f6;
  background-color: #2f3136 ;
}

section {
  background-color: #2f3136;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

div {
  background-color: #36393f;
}

h1 {
  margin: .3em 0;
  padding: .3em;
  border: .08em solid #202225;
  border-radius: .4em;
}

h2 {
  margin: 30px 0;
  padding: .2em;
  border-bottom: .08em solid #202225;
  border-radius: .4em;
  text-transform: uppercase;
  font-size: 120%;
  padding-left: .4em;
}

p {
  background-color: #2f3136;
  margin-top: 15px 0;
  padding: 1em;
  padding-top: 0.8em;
  border-bottom: .1em solid #202225;
  border-radius: .4em;
  word-wrap: normal;
}

input[type="text"] {
  width: 10em;
  display: block;
  margin-bottom: 10px;
  background-color: #36393f;
}

button[type="button"] {
  width: 10em;
  display: block;
  margin-bottom: 10px;
  background-color: #36393f;
}

textarea {
  width: 10em;
  display: block;
  margin-bottom: 10px;
  background-color: #36393f;
}

img {
  max-width: 100%;
  height: auto;
  border: .5em solid #202225;
  border-radius: 3em;
  margin: 1em 0;
  padding: -2em;
  border-radius: 1em;
}

.container {
  background-color: #2f3136;
  /* border: .01em solid #202225; */
  padding: rem;
  padding-bottom: .1em;
  border-bottom: .2em solid #202225;
  border-radius: 2em;
}


.row {
  margin: 1em 0;
  padding: 35px;
  border-bottom: .2em solid #202225;
  border-radius: 2em;
  background-color: #36393f;
}

.navbar-brand {
  padding: 1em;
  border-right: .01em solid #202225;
}

.navbar {
  padding: 1em;
  border: .03em solid #202225;
}

/* Override */

.bg-dark {
  background-color: #36393f !important;
}

.collapse {
  background-color: #2f3136 !important;
}